hdpt.code-workspace
.venv/
secrets/
lambdas_code/
sources/
/dbt-hdpt/.user.yml
/hdpt.code-workspace
/.env
logs/
DuckDB/hdpt_dev.duckdb
/sources
/project.code-workspace
duckdb/test_db.duckdb
duckdb/hdpt_dev.duckdb.wal
app.js
DuckDB/
/python
.vscode/settings.json
