hdpt.code-workspace
.venv/
secrets/
lambdas_code/
sources/
/dbt-hdpt/.user.yml
/hdpt.code-workspace
/.env
logs/
/sources
/project.code-workspace
duckdb/test_db.duckdb
duckdb/hdpt_dev.duckdb.wal
/python
.vscode/settings.json
/DuckDB
/requirements.txt